body{
    font-family: 'Montserrat';
}

#title{
    background-color: #ff4c68;
    color: #fff;
}

h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 3.5rem;
    font-weight: 900;
    line-height: 1.5;
}
h2{
    font-family: 'Montserrat';
    font-size: 3rem;
    font-weight: 600;
}
.container-fluid{
    padding: 3% 15% 5%;
}

.head{
    padding: 0 15% 10%;
}

/* Navbar */

/* .navbar{
    padding-bottom: 10%;
} */

.navbar-brand {
    font-family: 'Ubuntu';
    font-size: 2.5rem;
    font-weight: bold;
    padding: 1% 0;
}

.nav-item{
    padding: 0 18px;
}

.nav-link{
    font-weight:300;
    font-size: 1.2rem;
}

/* Download Botton */

.download-btn{
    margin: 5% 3% 5% 0%;
}

/* Title image */

.title-img{
    width: 22%;
    transform: rotate(25deg);
    position: absolute;
    right: 20%;
}
@media (max-width:1040px) {
    #title{
        text-align: center;
    }

    .title-img{
        transform: rotate(0deg);
        width: 60%;
        position: static;
    }
    h1{
        font-size: 3rem;
    }
    
}

/* Features */

#features{
    padding: 7% 15%;
    background-color: #fff;
    position: relative;
    /* z-index: 1; */
}
.feature-box{
    text-align: center;
    padding: 5% 4%;
}
h3{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
}

p{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: #8f8f8f;  
}

.icon{
    color: #ef8172;
    margin-bottom: 1rem;
}

.icon:hover{
    color: #ff4c68;
}

/* testimonials */


#testimonials{
    background-color: #ef8172;
    text-align: center;
    color: #fff;
    
}

.testimonial-img{
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}

.carousel-item{
    padding: 7% 15%;
}

#press{
    background-color: #ef8172;
    padding-bottom: 3%;
    text-align: center;
    color: #fff;
}

.press-logo{
    margin: 20px 20px 50px;
    width: 15%;
}

/* Pricing */

#pricing{
    padding: 100px;
    text-align: center;
}
.pricing-column{
    padding: 3% 2%;
}

/* Call to Action */

#cta{
    background-color: #ff4c68;
    padding: 4% 10% 0;
    text-align: center;
    
}
.cta{
    font-size: 3.5rem;
    font-weight: 600;
    color: #fff;
    margin: 0 20%;
    line-height: 1.5;
}

/* Footer */

#footer{
    background-color: #fff;
    text-align: center;
    font-size: 1rem;
    padding: 3%;
    line-height: 3rem;
}
.footer-icons{
    padding: 20px 10px;
}



